service: image-magick-service

provider:
  name: aws
  region: ${opt:region, 'ap-northeast-1'}
  stage: ${opt:stage, 'prod'}

layers:
  image-magick-aws-lambda-layer:
    name: image-magick-aws-lambda-layer
    description: ImageMagick v7.0.11-3
    licenseInfo: ImageMagick
    retain: true
    package:
      artifact: build/artifacts.zip
